<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.leo.device">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".module.data.DataFullscreenActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="sensorLandscape"
                android:theme="@style/FullscreenTheme">
        </activity>
        <activity android:name=".module.connect.ConnectActivity">
        </activity>

        <receiver
                android:name=".module.data.service.DataReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.leo.device.dataService"/>
            </intent-filter>
        </receiver>

        <activity android:name=".module.network.NetworkActivity">
        </activity>
        <activity android:name=".module.register.RegisterActivity">
        </activity>
        <activity android:name=".module.edit.EditActivity">
        </activity>
        <activity android:name=".module.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.tutorial.TutorialActivity">
        </activity>

        <service android:name=".module.data.service.DataService"/>

        <activity android:name=".module.main.MainActivity">
        </activity>
        <activity android:name=".module.about.AboutActivity">
        </activity>
        <activity android:name=".module.tutorial.NavigationActivity">
        </activity>
    </application>

</manifest>
